@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=EB%20Garamond);

body {
  font-family: "EB Garamond";
  font-size: 32px;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Styles for the stream title */
.title-wrapper {
  margin: 20px 0px 2px;
  display: flex;
}

.left, .right {
  position: relative;
  height: 50%;
  width: fit-content;
  background-color: #c21919;
  border-radius: 20px;
  float: left;
  font-size: 55px;
  font-weight: 900;
  font-family: "EB Garamond";
}

.left span, .right span {
  display: flex;
  padding: 6px 20px 6px 15px;
}

.right {
  width: fit-content;
  color: #c21919;
  background-color: #fff;
}

/* Styles for the task list */
.task-list-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px 0 20px;
  width: 320px;
  font-family: Roboto;
}

.task-list {
  margin: 5px 0;
  padding: 20px 0;
  list-style-type: none;
}

.task-list li {
  margin: 0;
  padding: 6px 20px;
}

.task-list li.active {
  color: #000;
  background-color: #fff;
}
